{#
/**
 * @file
 * News blog theme implementation to display a single page.
 * Base theme: olivero.
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.content: The main content of the current page.
 * - page.sidebar: Items for the first sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.social: Items for the social region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 */
#}

    {% if page.header1 or page.primary_menu %}

      <header class="header">

          <div class="container">

            <div class="header__inner">
              <div class="header__box-1">
                {{ page.header_1 }}
              </div>
              <div class="header__box-2">
                {{ page.header_2 }}
              </div>

            </div>

            {% if page.primary_menu %}

              <div class="mobile-buttons" data-drupal-selector="mobile-buttons">
                <button class="mobile-nav-button" data-drupal-selector="mobile-nav-button"
                        aria-label="{{ 'Main Menu'|t }}" aria-controls="header-nav" aria-expanded="false">
                  <span class="mobile-nav-button__label">{{ 'Menu'|t }}</span>
                  <span class="mobile-nav-button__icon"></span>
                </button>
              </div>

              <div id="header-nav" class="header-nav" data-drupal-selector="header-nav">
                {{ page.primary_menu }}
              </div>

            {% endif %}

          </div>
        </div>
      </header>

    {% endif %}


<div class="wrapper">

  <main class="main">
    {% if page.breadcrumb %}
      <section class="breadcrumb">
        <div class="container">
          {{ page.breadcrumb }}
        </div>
      </section>
    {% endif %}

    {% if page.hero %}
      <section class="section-1">
        <div class="container">
          <div class="section__one-hero">
            {{ page.hero }}
          </div>
        </div>
      </section>
    {% endif %}

    {% if page.content_top %}
      <section class="section-2">
        <div class="container">
          <div class="inner__box">
            <div class="content__inner">
              {{ page.content_top }}
            </div>
            {% if page.block_one %}
              <div class="block-one__inner">
                {{ page.block_one }}
              </div>
            {% endif %}
          </div>
        </div>
      </section>
    {% endif %}

    {% if page.hero_2 %}
      <section class="section-3">
        <div class="container">
          <div class="content-bellow__inner">
            {{ page.hero_2 }}
          </div>
        </div>
      </section>
    {% endif %}

    {% if page.content_center %}
    <section class="section-4">
      <div class="container">
        <div class="inner__box">
          <div class="content__inner">
            {{ page.content_center }}
          </div>
          {% if page.block_two %}
            <div class="block-one__inner">
              {{ page.block_two }}
            </div>
          {% endif %}
        </div>
      </div>
    </section>
    {% endif %}

    {% if page.hero_3 %}
      <section class="section-5">
        <div class="container">
          <div class="content-bellow__inner">
            {{ page.hero_3 }}
          </div>
        </div>
      </section>
    {% endif %}

    {% if page.content_bottom %}
    <section class="section-6">
      <div class="container">
        <div class="inner__box">
          <div class="content__inner">
            {{ page.content_bottom }}
          </div>
          {% if page.block_three %}
            <div class="block-one__inner">
              {{ page.block_three }}
            </div>
          {% endif %}
        </div>
      </div>
    </section>
    {% endif %}

  </main>
</div>

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      {% if page.footer_top %}
      <div class="footer__box-1">
        {{ page.footer_top }}
      </div>
      {% endif %}
      <div class="footer__box-2">
        {{ page.footer_bottom }}
      </div>
    </div>
  </div>
</footer>
