{{ attach_library('custom_weather_module/style') }}

<div class="weather__icon"><img src="{{ icon }}" alt=""></div>
<div class="weather__loc">Location: {{ location }}</div>
<div class="weather__temp">temp: {{ temp_c }}<span></span></div>
<div class="weather__loc">{{ location_count }}<span></span></div>

